{% extends 'index.html' %}
{% block content %}
      {% for article in hashtag.article_set.all %}
      <div class="post-preview">
        <a href="{% url 'blog:detail' article.id %}">
          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.content }}
          </h3>
        </a>
        <p class="post-meta">
          {{ article.published_at }}</p>
      </div>
      <hr>
      {% endfor %}

      <div class="dropdown">
        <button class="btn btn-primary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hashtag 검색
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for hashtag in hashtags.all %}
          <a href="{% url 'blog:search' hashtag.id %}">{{ hashtag.name }}</a>
          {% endfor %}
        </div>
      </div>
{% endblock %}